In [1]:
import os
os.chdir('../')

from extract import open_server_users
from extract import open_server_engage
from extract import open_server_payment
from extract import open_server_battle
from extract import open_server_resource
from extract import open_server_troop
from extract import server_open_nd
from extract import open_server_goldfarmer

from transform import goldfarmer_transform

from TASKS import PAYMENT_TO_DAILY,USER_TASKS, ENGAGE_TASKS,PAYMENT_TASKS

from data_utils import run_aggregation_tasks

import numpy as np
from config import ETLConfig
from functools import reduce

In [6]:
task = dict(game = 'aoz',server_ids = [234,235,236],
            offset = ETLConfig.OFFSET,days =ETLConfig.OPEN_SERVER_DAYS)

task['server_open'] = server_open_nd(**task)

user = open_server_users(**task, fields = ETLConfig.USER_INFO_FIELDS)

engage = open_server_engage(**task, fields = ETLConfig.ENGAGE_FIELDS)

payment = open_server_payment(**task, fields = ETLConfig.PAYMENT_FIELDS)
payment =run_aggregation_tasks(payment, PAYMENT_TO_DAILY,merge= True).reset_index()

battle = open_server_battle(**task, fields = ETLConfig.BATTLE_FIELDS)

resource = open_server_resource(**task, fields = ETLConfig.RESOURCE_FIELDS)

troop = open_server_troop(**task,fields = ETLConfig.TROOP_FIELDS)

goldfarmer = open_server_goldfarmer(**task, fields = ETLConfig.GOLD_FARMER_FIELDS)

goldfarmer = goldfarmer_transform(goldfarmer, ETLConfig)

UserInfo: 236: 100%|████████████████████████████████████████| 3/3 [00:12<00:00,  4.11s/it]
UserType: 236: 100%|████████████████████████████████████████| 3/3 [00:10<00:00,  3.59s/it]
Engagement 236: 100%|███████████████████████████████████████| 3/3 [00:10<00:00,  3.59s/it]
Payment 236: 100%|██████████████████████████████████████████| 3/3 [00:00<00:00,  6.73it/s]
Battle 236: 100%|███████████████████████████████████████████| 3/3 [00:34<00:00, 11.50s/it]
Resource 236: 100%|█████████████████████████████████████████| 3/3 [00:34<00:00, 11.65s/it]
Troop 236: 100%|████████████████████████████████████████████| 3/3 [00:47<00:00, 15.78s/it]
GoldFarmerRob 236: 100%|████████████████████████████████████| 3/3 [00:35<00:00, 11.68s/it]

In [14]:
run_aggregation_tasks(user, USER_TASKS,merge = True)

                    user_id_count  language_1_count_user_id  \
from_server day_id
234         1                6730                     120.0
            2               48518                    1861.0
            3               14478                     942.0
            4                 389                     214.0
            5                 135                      13.0
            6                  91                      12.0
235         1               34540                    1123.0
            2               36972                    1978.0
            3                 289                      17.0
            4                 168                      11.0
            5                 133                       7.0
            6                  90                       3.0
236         1               13670                     243.0
            2               49517                    1906.0
            3               11893                     602.0
            4                 173                       8.0
            5                 110                       6.0
            6                  81                       6.0

                    language_2_count_user_id  language_3_count_user_id  \
from_server day_id
234         1                           25.0                    2706.0
            2                          426.0                   15737.0
            3                          140.0                    4757.0
            4                            1.0                      77.0
            5                            0.0                      36.0
            6                            2.0                      30.0
235         1                          287.0                   11326.0
            2                          365.0                   11376.0
            3                            4.0                      82.0
            4                            9.0                      35.0
            5                            3.0                      27.0
            6                            0.0                      22.0
236         1                           72.0                    5279.0
            2                          407.0                   16150.0
            3                          113.0                    4150.0
            4                            0.0                      61.0
            5                            0.0                      42.0
            6                            0.0                      25.0

                    language_5_count_user_id  language_6_count_user_id  \
from_server day_id
234         1                          198.0                     134.0
            2                         2814.0                    2003.0
            3                         1228.0                     907.0
            4                           12.0                       4.0
            5                           14.0                       3.0
            6                            5.0                       1.0
235         1                         1715.0                    1465.0
            2                         2849.0                    1359.0
            3                            5.0                      15.0
            4                           17.0                       6.0
            5                           10.0                      12.0
            6                            7.0                       3.0
236         1                          230.0                     154.0
            2                         1935.0                    1395.0
            3                          594.0                     370.0
            4                            7.0                       9.0
            5                            6.0                       5.0
            6                            6.0                       4.0

                    language_7_count_user_id  language_8_count_user_id  \
from_server day_id
234         1                          188.0                     142.0
            2                         1045.0                     889.0
            3                          274.0                      98.0
            4                            5.0                       0.0
            5                            3.0                       7.0
            6                            1.0                       2.0
235         1                          836.0                     795.0
            2                         1132.0                     536.0
            3                           15.0                       5.0
            4                            1.0                       2.0
            5                            6.0                       0.0
            6                            2.0                       0.0
236         1                          689.0                     293.0
            2                         1430.0                     766.0
            3                          310.0                      51.0
            4                            2.0                       5.0
            5                            4.0                       1.0
            6                            1.0                       2.0

                    language_9_count_user_id  language_10_count_user_id  ...  \
from_server day_id                                                       ...
234         1                           14.0                      279.0  ...
            2                          172.0                     1508.0  ...
            3                           22.0                      228.0  ...
            4                            0.0                        4.0  ...
            5                            0.0                        2.0  ...
            6                            1.0                        0.0  ...
235         1                          163.0                     1285.0  ...
            2                          126.0                      948.0  ...
            3                            0.0                        2.0  ...
            4                            1.0                        5.0  ...
            5                            0.0                        0.0  ...
            6                            0.0                        2.0  ...
236         1                           60.0                      517.0  ...
            2                          140.0                     1362.0  ...
            3                           11.0                      194.0  ...
            4                            0.0                        2.0  ...
            5                            0.0                        4.0  ...
            6                            0.0                        2.0  ...

                    language_20_count_user_id  language_21_count_user_id  \
from_server day_id
234         1                             7.0                        0.0
            2                            42.0                       12.0
            3                             8.0                        0.0
            4                             0.0                        0.0
            5                             0.0                        0.0
            6                             0.0                        0.0
235         1                            29.0                        4.0
            2                            25.0                        5.0
            3                             1.0                        0.0
            4                             0.0                        0.0
            5                             0.0                        0.0
            6                             0.0                        0.0
236         1                            18.0                        2.0
            2                            35.0                        7.0
            3                             2.0                        2.0
            4                             0.0                        0.0
            5                             0.0                        0.0
            6                             0.0                        0.0

                    language_22_count_user_id  \
from_server day_id
234         1                            39.0
            2                           281.0
            3                            36.0
            4                             0.0
            5                             3.0
            6                             2.0
235         1                           296.0
            2                           288.0
            3                             1.0
            4                             1.0
            5                             0.0
            6                             0.0
236         1                           108.0
            2                           461.0
            3                            46.0
            4                             1.0
            5                             1.0
            6                             1.0

                    source_channel_shortlink_count_user_id  \
from_server day_id
234         1                                        126.0
            2                                        860.0
            3                                        279.0
            4                                          NaN
            5                                          NaN
            6                                          NaN
235         1                                        637.0
            2                                        605.0
            3                                          NaN
            4                                          1.0
            5                                          1.0
            6                                          NaN
236         1                                        309.0
            2                                        841.0
            3                                        175.0
            4                                          1.0
            5                                          1.0
            6                                          NaN

                    user_type_cur_dummy_account_count_user_id  \
from_server day_id
234         1                                             3.0
            2                                           115.0
            3                                           150.0
            4                                            71.0
            5                                            51.0
            6                                            38.0
235         1                                            45.0
            2                                           146.0
            3                                            90.0
            4                                            60.0
            5                                            34.0
            6                                            33.0
236         1                                            12.0
            2                                           142.0
            3                                           123.0
            4                                            45.0
            5                                            44.0
            6                                            33.0

                    user_type_cur_init_user_count_user_id  \
from_server day_id
234         1                                      6579.0
            2                                     48136.0
            3                                     14209.0
            4                                       271.0
            5                                        44.0
            6                                        24.0
235         1                                     34210.0
            2                                     36616.0
            3                                       126.0
            4                                        53.0
            5                                        43.0
            6                                        30.0
236         1                                     13503.0
            2                                     49155.0
            3                                     11701.0
            4                                        84.0
            5                                        51.0
            6                                        27.0

                    user_type_pure_roller_count_user_id  \
from_server day_id
234         1                                     148.0
            2                                     267.0
            3                                     119.0
            4                                      47.0
            5                                      40.0
            6                                      29.0
235         1                                     285.0
            2                                     210.0
            3                                      73.0
            4                                      55.0
            5                                      56.0
            6                                      27.0
236         1                                     155.0
            2                                     219.0
            3                                      69.0
            4                                      44.0
            5                                      15.0
            6                                      21.0

                    user_type_sandbox_count_user_id  \
from_server day_id
234         1                                   0.0
            2                                   0.0
            3                                   0.0
            4                                   0.0
            5                                   0.0
            6                                   0.0
235         1                                   0.0
            2                                   0.0
            3                                   0.0
            4                                   0.0
            5                                   0.0
            6                                   0.0
236         1                                   0.0
            2                                   1.0
            3                                   0.0
            4                                   0.0
            5                                   0.0
            6                                   0.0

                    device_model_ANDROID_count_user_id  \
from_server day_id
234         1                                     4467
            2                                    34883
            3                                    10577
            4                                      135
            5                                      100
            6                                       67
235         1                                    24734
            2                                    26369
            3                                      214
            4                                      109
            5                                       93
            6                                       69
236         1                                     9108
            2                                    35700
            3                                     8823
            4                                      125
            5                                       82
            6                                       57

                    device_model_IOS_count_user_id
from_server day_id
234         1                                 2263
            2                                13635
            3                                 3901
            4                                  254
            5                                   35
            6                                   24
235         1                                 9806
            2                                10603
            3                                   75
            4                                   59
            5                                   40
            6                                   21
236         1                                 4562
            2                                13817
            3                                 3070
            4                                   48
            5                                   28
            6                                   24

[18 rows x 29 columns]

In [8]:
battle.groupby(['from_server','day_id'])[['pvp','fastpvp','gather','ruins','challenge',
                                          'rebel','terri_def','elite_war', 'elite_advt', 'realm_war',
                                          'cross_rw', 'void_war', 'legend_war', 'chapion_war', 'chapion_war_bet',
                                          'level_1_1', 'level_1_2', 'level_2_1', 'level_2_2', 'level_3_1',
                                          'level_3_2']].sum()

                     pvp  fastpvp  gather  ruins  challenge  rebel  terri_def  \
from_server day_id
234         1          2        0     640     57          0    376          0
            2        195      539   14873    723          0   8330          0
            3       1118     1147   16630   1221          0  10148          0
            4       2034     2451   13406   1195          0   8567          0
            5       8132    16068   15753   1010          0   8271          0
            6       7187    14605   14778   1041          0   8513          0
235         1        118     1313    7776    378          0   4460          0
            2        796    14966   19093   1034          0  10207          0
            3       1697    17705   17982   1114          0   8291          0
            4       5593    19527   17960    986          0   7744          0
            5       7798    12899   14471    987          0   7770          0
            6       6658    15561   15510   1016          0   8288          0
236         1         10        0    1821    104          0   1071          0
            2        361      217   15306    668          0   8215          0
            3       1445     1221   16060   1009          0   8853          0
            4       2735     2300   12362    984          0   7218          0
            5       8886    13560   11417    940          0   7373          0
            6       7662    11529   11169    826          0   7544          0

                    elite_war  elite_advt  realm_war  ...  void_war  \
from_server day_id                                    ...
234         1               0           0          0  ...         0
            2               0           0          0  ...         0
            3               0           0          0  ...         0
            4               0           0          0  ...         0
            5               0           0          0  ...         0
            6               0           0          0  ...         0
235         1               0           0          0  ...         0
            2               0           0          0  ...         0
            3               0           0          0  ...         0
            4               0           0          0  ...         0
            5               0           0          0  ...         0
            6               0           0          0  ...         0
236         1               0           0          0  ...         0
            2               0           0          0  ...         0
            3               0           0          0  ...         0
            4               0           0          0  ...         0
            5               0           0          0  ...         0
            6               0           0          0  ...         0

                    legend_war  chapion_war  chapion_war_bet  level_1_1  \
from_server day_id
234         1                0            0                0      -6412
            2                0            0                0     -45685
            3                0            0                0     -20551
            4                0            0                0      -6499
            5                0            0                0      -7044
            6                0            0                0      -6198
235         1                0            0                0     -31676
            2                0            0                0     -39109
            3                0            0                0      -8444
            4                0            0                0      -6755
            5                0            0                0      -6485
            6                0            0                0      -5476
236         1                0            0                0     -12950
            2                0            0                0     -47988
            3                0            0                0     -19052
            4                0            0                0      -7011
            5                0            0                0      -7784
            6                0            0                0      -6288

                    level_1_2  level_2_1  level_2_2  level_3_1  level_3_2
from_server day_id
234         1           -6628      -6687      -6677      -6701      -6697
            2          -49358     -50952     -50864     -51307     -51242
            3          -23441     -25209     -25163     -26230     -26138
            4           -7491      -8597      -8564      -9890      -9774
            5           -7714      -8521      -8642      -9765      -9663
            6           -6650      -7356      -7457      -8364      -8364
235         1          -33882     -34759     -34713     -34910     -34899
            2          -42984     -44905     -44815     -45626     -45535
            3           -9892     -11096     -11072     -12295     -12149
            4           -7488      -8323      -8356      -9557      -9440
            5           -7025      -7780      -7866      -8850      -8820
            6           -5858      -6516      -6646      -7482      -7443
236         1          -13536     -13731     -13714     -13761     -13756
            2          -51596     -53156     -53126     -53574     -53525
            3          -21636     -23158     -23139     -24074     -23996
            4           -7901      -8830      -8832      -9948      -9838
            5           -8335      -9012      -9106     -10137     -10030
            6           -6880      -7376      -7527      -8237      -8270

[18 rows x 21 columns]

In [15]:
battle.columns

Index(['user_id', 'date', 'pvp', 'fastpvp', 'gather', 'ruins', 'challenge',
       'rebel', 'terri_def', 'elite_war', 'elite_advt', 'realm_war',
       'cross_rw', 'void_war', 'legend_war', 'chapion_war', 'chapion_war_bet',
       'level_1_1', 'level_1_2', 'level_2_1', 'level_2_2', 'level_3_1',
       'level_3_2', 'from_server', 'day_id'],
      dtype='object')

In [7]:
from multiprocessing import Pool
import multiprocessing